.show-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: 100vw;
  .image-half {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("small-banner.jpg");
    background-position: center;
    background-size: cover;
    p {
      display: none;
    }
  }
  .desc-half {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .my-button {
      color: black;
    }

    .my-button:hover {
      color: #F7B538;
    }
  }
}

