<div class="banner">
  <h1>This is the home page</h1>
  <p><%= link_to "See all flats", flats_path, class: "my-button" %></p>
</div>



<div class="container">
  <div class="outter">
    <div class="inner-left">
      <p>hallo</p>
    </div>
    <div class="inner-right">
      <p>hallo</p>
    </div>
  </div>
</div>
